.App {
  /*text-align: center;*/
  height: 100%;
  position: relative;
  padding-bottom: 120px;
}
.app_main{
  max-width: 1300px;
  margin: 0 auto;
}
.app_content{
  /*background: cornsilk;*/
  box-sizing: border-box;
  padding: 10px 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.app-footer {
  width: 100%;
  color: #fff;
  padding: 30px;
  line-height: 25px;
  text-align: center;
  background: #333;
  position: absolute;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
}