.dashboard a{
    color: #000;
}
.banner{
    height: 400px;
    margin: 30px 0 50px;
}
.banner img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.home_feature_box span{
    text-align: center;
    display: block;
}
.home_products_title{
    height: 100px;
    position: relative;
    overflow: hidden;
    margin: 20px 0 50px;
}
.home_products_title hr{
    margin-top: 50px;
}
.home_feature_box_title{
    font-size: 22px;
    margin-top: 50px;
}
.home-featured_title_vice{
    font-size: 14px;
    margin-top: 4px;
}
.home_feature_box{
    position: absolute;
    z-index: 4;
    height: 100px;
    width: 210px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    MARGIN: 0 auto;
    background-image: url(../../assets/images/hometitleicon.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #FFFFFF;
    text-align: center;
}
.home_product_box{
    width: 300px;
    height: 500px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 4px;
    border: 1px solid red;
}
.home_product_image{
    width: 100%;
    height: 320px;
}
.home_products_list li{
    list-style: none;
    float: left;
    margin: 6px;
}